
body {
    margin: 0;
    padding: 0;    
}

.container {
    height: 100vh;
    /* border: solid 5px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container div {
    height: 200px;
    width: 20%;
    border: red solid;
}